{% if page_obj.has_other_pages %}
<nav class="mt-5">
    <ul class="pagination pagination-custom justify-content-center align-items-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link btn-pill shadow-xs" href="?page={{ page_obj.previous_page_number }}">
                <i class="bi bi-chevron-left me-1"></i> Previous
            </a>
        </li>
        {% endif %}
        
        <li class="page-item active">
            <span class="page-link btn-pill shadow-sm">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
        </li>
        
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link btn-pill shadow-xs" href="?page={{ page_obj.next_page_number }}">
                Next <i class="bi bi-chevron-right ms-1"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
